@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* VARIABLES */
    /*Colors*/
    --cream: #E2E0C7;
    --text-black: #030303;
    --text-white: #FFFFFF;
    --yellow: #FBD725;
    --blue-light: #90B7BF;
    --blue-dark: #67A1BC;
    --red: #9F2123;

    /*Shadows*/
    --card-shadow: 0px 16px 64px 0px rgba(0, 0, 0, 0.25);
    --card-blue-shadow: 0px 32px 50px 0px rgba(6, 63, 86, 0.5);
    --text-shadow: 0px 4px 8px rgba(6, 63, 86, 0.5);

    /*Font Sizes*/
    --f-base: 1rem;
    --f-u-1: 1.06rem;
    --f-u-2: 1.12rem;
    --f-u-3: 1.19rem;
    --f-u-4: 1.31rem;
    --f-u-5: 1.38rem;
    --f-u-6: 1.5rem;

    --f-d-1: 0.94rem;
    --f-d-2: 0.88rem;
    --f-d-3: 0.81rem;

    /* font */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-dark);
    color: var(--text-black);
}

.main-content {
    flex: 1;
}

.main-header {
    background-color: var(--cream);
    border-radius: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 32px;
    margin: 32px;
    position: relative;
}

.nav-link {
    font-size: var(--f-u-6);
    font-weight: 800;
    text-decoration: none;
    color: var(--text-black);
    transition: border 0.3s ease-in-out;
}

.nav-link.active,
.nav-link:hover {
    border-bottom: 8px solid var(--text-black);
}

.desktop-nav {
    display: flex;
    gap: 32px;
}

.logo {
    position: absolute;
    left: 32px;
    top: 16px;
}
.footer {
    background: url('/assets/footer_bg.png') no-repeat center center;
    background-size: cover;




    padding: 32px 24px;
    color: var(--yellow);


}
.footer-section form.email-1 {
    flex-direction: row;
    align-items: center;
}

.footer-content {
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* margin: 0 24px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 32px;
    backdrop-filter: blur(32px);
}

.footer-section {
    flex: 1;
    min-width: 200px;
    
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.footer-section button {
    background-color: var(--yellow);
    color: black;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;

    background-size: cover;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(32px);



    padding: 8px 24px;
    color: var(--yellow);
    border-radius: 4px;;
}
.email-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}
