.hero-banner{
    background-image: url(/assets/Banner_image.png);
    height: 484px;
    background-repeat: no-repeat;
 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 64px;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.hero-content > h1{
    color: var(--text-white);
    text-shadow: var(--text-shadow);
    font-size: clamp(32px, 4vw ,70px)
}
.hero-content > a{
    color: var(--text-white);
    background-color: black;
    border-radius: 32px;
    text-decoration: none;
    font-weight: 800;
    padding: 16px;
}
 
 
.home-testimonials{
    background-color: var(--yellow);
    padding: 8px;
    border-bottom: 1px solid black;
 
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.h-testimonial{
    display: flex;
    gap: 8px;
    background-color: black;
    border: 2px solid var(--red);
    color: var(--text-white);
    padding-right: 8px;
    align-items: center;
}
.t-rating{
    align-self: stretch;
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    color: var(--red);
    font-weight: 800;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0px 16px 16px 0px;
}
.t-text{
    padding-top: 8px;
    padding-bottom: 8px;
}
 
.home-section{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
    > h1 {
        text-decoration: underline;
    }
}
.benefit-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 90%;
    max-width: 600px;
}
.benefit-box {
    border: 2px solid var(--text-black);
    border-radius: 8px;
    padding: 16px;
    > h1 {
        text-decoration: underline;
        margin-bottom: 12px;
    }
}
 
.benefit-box.wide {
    grid-column: span 2;
}
 
.yellow{
    background-color: var(--yellow);
    border-radius: 0px 0px 128px 128px;
}
.cream-bg{
    background-color: var(--cream);
}
.blue{
    background-color: var(--blue-light);
    border-radius: 128px 128px 0px 0px;
}
 
.bullet {
    display: flex;
    border-radius: 32px 4px 4px 32px;
    border: 1px solid var(--text-black);
    margin-bottom: 10px;
    width: 270px;
}
 
.bullet-nr {
    width: 25px;
    border-right: 3px solid var(--text-black);
}
 
.bullet-text {
    text-align: left;
    padding-left: 10px;
}
 
.bullet2 {
    display: flex;
    border-radius: 32px 4px 4px 32px;
    border: 1px solid var(--text-black);
    margin-bottom: 10px;
    width: 500px;
}
 
.step-box {
    display: flex;
    justify-content: center;
    gap: 8px;
}
 
.box {
    
    border-radius: 8px;
    padding: 16px;
    > p {
        margin: 0;
    }
    cursor: pointer;
}
 
.adopt-btn {
    background-color: var(--text-black);
    color: var(--text-white);
    border: none;
    border-radius: 32px;
    padding: 16px 32px;
    font-weight: 800;
    text-decoration: none;

}
.adopt-btn:hover {
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}
 
.image {
    width: 170px;
    height: auto;
}
.image2 {
    width: 170px;
    height: 170px;
    filter: drop-shadow(0px 6px 6px black);
}
 
.step-box2 {
    display: flex;
    justify-content: center;
    gap: 8px;
}
 
.box2 {
    /* border: 2px solid lightblue;  */
    border-radius: 8px;
    padding-bottom: -10px;
    display: flex;
    flex-direction: column;
    background-color: var(--cream);
    cursor: pointer;
    overflow: hidden;
    > p {
        margin: 0;
        background-color: black;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
.box2:hover {
    box-shadow: 2px 2px 5px gray;
}
 
.step-box3 {
    display: flex;
    justify-content: center;
    gap: 8px;
}
 
.newHeader {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}
.para {
    font-size: 12px;
    margin-top: 5px;
}
 
.para2 {
    font-size: 12px;
    font-style: italic;
    margin-top: 15px;
    font-weight: bold;
}
 
 
 