.hero-banner{
    background-image: url(/assets/Banner_image.png);
    height: 500px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 64px;
  }